version: "3.8"

services:
  apache-php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: apache-php
    ports:
      - "81:80"
    environment:
      WORDPRESS_DB_HOST: mariadb:3306
      WORDPRESS_DB_NAME: rolandrauten
      WORDPRESS_DB_USER: andre
      WORDPRESS_DB_PASSWORD: Anfdre212Anfdre212
    volumes:
      - www_data:/var/www/html
    depends_on:
      - mariadb
    networks:
      - npm_default
    restart: always

  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: Anfdre212Anfdre212
      MYSQL_DATABASE: rolandrauten
      MYSQL_USER: andre
      MYSQL_PASSWORD: Anfdre212Anfdre212
    command: --max_allowed_packet=512M --innodb-log-file-size=256M
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - npm_default
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
    ports:
      - "8080:80"
    depends_on:
      - mariadb
    networks:
      - npm_default
    restart: always

  sftp:
    image: atmoz/sftp
    container_name: sftp
    ports:
      - "2222:22"
    volumes:
      - www_data:/home/andre/web
    environment:
      SFTP_USERS: "andre:Anfdre212Anfdre212:1001:1001:web"
    networks:
      - npm_default
    restart: always

volumes:
  www_data:
  db_data:

networks:
  npm_default:
    external: true
